* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: var(--font-main);
    color: var(--color-text);
    background-color: var(--color-light);
}

@media screen and (max-width: 1023px) {
    body {
        font-size: 14px;
    }
}