.hero {
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 65px;
    color: var(--color-light);
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: var(--color-light);
    margin-bottom: 30px;
    font-weight: 300;
}

.hero .yellow-highlight {
    color: #f5c518;
}

.cta-button {
    margin-top: 30px;
    font-size: 20px;
    background-color: var(--color-light);
    border-radius: 100px;
    padding: 25px 30px;
    text-decoration: none;
}

.cta-button:hover {
    scale: 1.05;
    box-shadow: #322e36 5px 5px 10px;
}
